@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollarea {
  scrollbar-width: thin;                        /* Firefox */
  scrollbar-color: rgba(0,0,0,0.6) transparent; /* black pill on no track */
}

.scrollarea::-webkit-scrollbar {
  width: 8px;                                   /* thin */
}
.scrollarea::-webkit-scrollbar-track {
  background: transparent;                      /* removes white track */
}
.scrollarea::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.6);                  /* black pill */
  border-radius: 9999px;                        /* fully rounded */
}
